html,
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  margin: 0;
  padding: 15px;
  width: 100vw;
  background-color: blue;
  color: white;
  box-sizing: border-box;
}

li {
  list-style-type: none;
  margin: 0 20px 0 0;
  display: inline;
  padding: 0;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

main {
  margin: 20px;
}